@tailwind base;
@tailwind components;
@tailwind utilities;

.title-large{
    font-size: 2.5rem;
}

.title-small{
    font-size: 1rem;
}
.title-padding{
    padding-bottom: 50px;
    padding-top: 50px;
}
.center{
    text-align: center;
}