@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text-color)
}


* {
    --pink: #f8c0d8;
    --main-text-color: #4a4e4d;
    --border-color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

::selection {
    background-color: var(--pink);
    color: white;
  }
  

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-large {
    font-size: 2.5rem;
}

.title-medium {
    font-size: 2.2rem;
}

.title-small {
    font-size: 1.1rem;
}

.font-600 {
    font-weight: 600;
}

p,
span {
    font-size: 1rem;
}

.title-padding {
    padding-bottom: 50px;
    padding-top: 50px;
}

.center {
    text-align: center;
}

.carousel-container .react-multiple-carousel__arrow {
    opacity: 1 !important;
    visibility: visible !important;
}



.btn {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid #303030;
    color: white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    color: #fff;

}

.btn:after {
    content: "";
    background-color: pink;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.btn:hover:after {
    top: 0px;
    left: 0px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

@media (min-width: 768px) {
    .btn {
        padding: 13px 50px 13px;
    }
}

.home-page .padded {
    padding: 0px 50px;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

a:hover {
    color: pink;
}

.edit-btn {
    font-size: 1.5rem;
}

.capital {
    text-transform: uppercase;
}


/* Small screens */
@media (max-width: 576px) {
    .btn {
        font-size: 14px;
        padding: 10px 16px;
    }
}

/* Medium screens */
@media (min-width: 577px) and (max-width: 992px) {
    .btn {
        font-size: 16px;
        padding: 12px 20px;
    }
}

@media (max-width:480px) {
    .home-page .padded {
        padding: 10px;
    }
}

@media (min-width:1440px){
    .btn{
        padding: 15px 32px 15px;
        font-size: 2.5rem ;
    }
}