
.brands-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    align-items: center;
    gap:15px;

   
}
.brands img{
    border: 1px solid grey;
    object-fit: contain;
    height: 80px;
     width: 100%;
    padding: 10px;

} 
.brands{
    border-top: 1px solid var(--border-color);
}