table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid #ccc;
}

th {
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
}

tfoot {
  font-weight: bold;
}

tfoot td {
  text-align: right;
}

td img {
  height: 250px;
  width: auto;
}

.quantity-container button {
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
}

.deleteIcon {
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-buttons {
  height: 150px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-page h2 {
  padding-bottom: 30px;
}
.cart-page {
  margin-top: 100px;
  padding: 0px 20px;
  overflow-x: hidden;
}
  

@media (max-width:580px){
  .cart-page{
    padding: 0px 5px;
  }
  td img{
    height: 90px;
    width: auto
  };

 .deleteIcon {
    font-size: 1rem;
  }
  th{
    padding: 2px;
    font-size: 0.55rem;
  }
  td{
    padding: 2px;
    font-size: 0.59rem;
  }
  .table-name{
    font-size: 0.5rem;
  }
 .quantity-container span{
  font-size:0.7rem;
 }
  .quantity-container button{
    padding: 1px;
    font-size: 0.8rem;
  }
  
}
    

@media (min-width:581px) and (max-width:768px){
  .cart-page{
    padding: 0px 5px;
  }
  td img{
    height: 130px;
    width: auto
  };

 td i {
    font-size: 1rem;
    color: aqua;
  }
  th{
    padding: 10px;
    font-size: 0.9rem;
  }
  td{
    padding: 5px;
    font-size: 0.9rem;
  }
 .quantity-container span{
  font-size:1rem;
 }
  .quantity-container button{
    padding: 5px;
    font-size: 1rem;
  }
  
}
    
@media(min-width:769px){
  .deleteIcon{
    font-size: 1.5rem;
  }
}



    
    

