* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 60px;
}

/* cart */
.cart {
  cursor: pointer;
  font-size: 1.3rem;
}

.cart span:nth-child(1) {
  font-size: 2rem;
  color: black;
}

.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: var(--pink);
  color: whites;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.cart:hover {
  color: inherit;
}

/* 
.header {
  height: 250px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
  background-color: blue;
  padding-top: 30px;
  
}

.header .logo{
  font-weight: 800;
  font-size: 2rem;
} 
.logged-in{
background-color: aqua;
}
.admin{
  background-color: blueviolet;
}  */

/* for non-loggedIn users */
header {
  height: 210px;
  padding: 20px 60px;
  border-bottom: 1px solid var(--border-color);
  /* margin-bottom: 100px;  */
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;

}

.logo:hover {
  color: inherit;
}

.nav-main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 30px;
  gap: 15px;
}

.nav-2 {
  width: 100%;
  font-size: 1.5rem;
  padding-top: 30px;
  gap: 100px;
}

.mobile{
  display: none;
}


@media (max-width:768px) {
  

  .nav-main, div .nav-2,.logo-container .logo{
    display: none;
  }
  

  .mobile-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    
  }
  .mobile-main .logo{
font-size: 1.3rem;
  }
  

.mobile {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.mobile-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-icon {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
 }


.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.mobile-menu a {
  color: #333;
  text-decoration: none;
  margin: 10px 0;
}


.logout {
  margin-top: auto;
}
 .logo:hover{
  color: var(--main-text-color);
}

.header{
  height: 0;
}


} 