* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 60px;
}

/* cart */
.cart {
  cursor: pointer;
  font-size: 1.3rem;
}

.cart span:nth-child(1) {
  font-size: 2rem;
  color: black;
}

.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: var(--pink);
  color: whites;
  font-weight: bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
 }
 .cart:hover{
  color: inherit;
 }
/* 
.header {
  height: 250px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 30px;
  background-color: blue;
  padding-top: 30px;
  
}

.header .logo{
  font-weight: 800;
  font-size: 2rem;
} 
.logged-in{
background-color: aqua;
}
.admin{
  background-color: blueviolet;
}  */

/* for non-loggedIn users */
header{
  height: 210px;
  padding: 20px 60px;
  border-bottom: 1px solid var(--border-color);
  /* margin-bottom: 100px;  */
}

.logo{
  font-size: 2.5rem;
  font-weight: bold;

}
.logo:hover{
  color: inherit;
}

.nav-main {
display: flex;
justify-content: flex-end;
align-items: flex-start;
padding-top: 30px;
gap:15px;
}

.nav-2 {
  width: 100%;
  font-size:1.5rem;
  padding-top: 30px;
  gap: 100px;
}

