.new-products-page .products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

.new-products-page{
    padding:0px 100px;
}
.new-products-page h1{
    padding-bottom: 100px;
}
